@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat:wght@500&display=swap');

/* Global styles */
* {
    font-family: 'Acme', sans-serif;
    transition: all 0.2s ease-in-out;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.5;
    background-image: url(/Assets/rpg-bg.png), url(/Assets/rpg-bg-lowQ.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* Navigation bar styles */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 3rem;
}

nav>a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(211, 211, 211);
    transition: all 0.2s ease-in-out;
}

nav>a:hover {
    color: rgb(136, 136, 136);
}

/* Main styles */

main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
        "character character character"
        "class class class"
        "race race race"
        "stats stats stats"
        "skills spell spell"
        "skills spell spell"
        "equipment equipment equipment"
        "save . .";
    gap: 1rem;
    width: 70dvw;
    max-width: 1440px;
    margin: auto;
}

label,
p {
    font-size: 1.5rem;
    font-weight: bold;
}

label {
    text-align: center;
    margin: 0 5px;
}

select {
    font-size: 1rem;
    border: 2px solid #333;
    border-radius: 0.5rem;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

input {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid #333;
    border-radius: 0.5rem;
    outline: none;
    background-color: transparent;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

i {
    font-size: 1.3rem;
    cursor: pointer;
}

i:hover {
    scale: 1.1;
}

/* Character Section styles */

.character-container {
    grid-area: character;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.sub-character-info {
    display: grid;
    grid-template-areas: "name level health";
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.sub-name {
    grid-area: name;
    display: flex;
    align-items: center;
}

.sub-health {
    grid-area: health;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-level {
    grid-area: level;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-character-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.sub-character-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.sub-character-container p,
.sub-character-container label {
    font-size: 1.5rem;
}

.character-container input[type=number]::-webkit-inner-spin-button,
.character-container input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    display: none;
}

#health,
#level {
    width: 50px;
    text-align: center;
}

/* Stat Section styles */

.stat-container {
    grid-area: stats;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
}

.stat-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 5rem;
    align-items: center;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.stat input {
    width: 50px;
    text-align: center;
}

/* Dice Section styles */

.dice-roller-container {
    background-color: transparent;
}

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    position: fixed;
    top: 50px;
    right: -350px;
    width: 250px;
    height: 80vh;
    transition: all 0.5s ease;
    background-color: rgb(136, 136, 136);
    border-radius: 1rem;
    margin: 5px;
    padding: 5px;
}

main>input[type=checkbox] {
    display: none;
}

#menu-checkbox:checked~.side-menu {
    right: 0;
}

main>.menu-toggle {
    position: fixed;
    cursor: pointer;
    top: 10px;
    right: 30px;
    transition: all 0.5s ease;
    user-select: none;
}

.menu-toggle:hover {
    scale: 1.1;
}

#menu-checkbox:checked~.side-menu {
    right: 0;
}

#dice-result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 80px);
    width: 80%;
    background-color: rgb(136, 136, 136);
    border-radius: 1rem;
    overflow-y: scroll;
}

#dice-result p {
    font-size: 1.5rem;
    font-weight: bold;
}

#dice-result span {
    font-size: 1rem;
    font-weight: bold;
}

/* Race Container styles */

.race-container {
    grid-area: race;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

/* Class Container styles */

.class-container {
    grid-area: class;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

/* Spell Container styles */

.spell-container {
    grid-area: spell;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.spell-container>h1 {
    text-align: center;
}

.spell-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border: 2px solid #333;
    min-height: 200px;
    margin: 0.5rem;
}

.spell-list {
    width: 50%;
}

.icon-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
}

.icon-select-container label {
    font-size: 1rem;
    font-weight: bold;
}

/* Skill Container Styles */

.skills-container {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    width: 95%;
}

.skill p {
    margin: 0;
    font-size: 1rem;
}

.skill label {
    font-size: 1rem;
}

/* Equipment Container Styles */

.equipment-container {
    grid-area: equipment;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.equipment-container>h1 {
    text-align: center;
}

.equipment-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid #333;
    height: 200px;
}

.equipment-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.equipment-div label {
    font-size: 1rem;
}

/* Popup and Overlay Section styles */

.popup-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    min-width: 300px;
    max-width: 600px;
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
}

/* Save Container styles */

.save-container {
    grid-area: save;
}

/* Media Queries */

@media screen and (max-width: 1440px) {
    main {
        width: 85dvw;
    }
}

@media screen and (max-width: 1200px) {
    .equipment-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    main {
        width: 90dvw;
        grid-template-areas:
            "character character character"
            "class class class"
            "race race race"
            "skills skills stats"
            "spell spell spell"
            "equipment equipment equipment"
            "save save save";
    }

    .stat-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 740px) {
    .spell-container {
        grid-template-columns: 1fr;
    }

    .sub-character-info {
        grid-template-areas: "name name"
            "level health";
    }

    p,
    label {
        font-size: 1rem !important;
    }

    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
    }
}

@media screen and (max-width: 610px) {
    main {
        width: 90dvw;
        grid-template-areas:
            "character character character"
            "class class class"
            "race race race"
            "stats stats stats"
            "skills skills skills"
            "spell spell spell"
            "equipment equipment equipment"
            "save save save";
    }

    .sub-name {
        flex-direction: column;
    }

    .stat-card {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
    }

    .equipment-container {
        grid-template-columns: 1fr;
    }
}